@import 'bootstrap/scss/bootstrap';

#App {
    background-color: rgb(32, 36, 41);
    min-height: 100vh;
    color: white;
    overflow-x: hidden;
}

.container {
    max-width: 1100px;

    @media (max-width: 1100px) {
        width: 95%;
        margin: auto;
    }
}

a {
    text-decoration: none;  
}

h3,
h4,
h5
{
    color: #DBD88E;
}

.card {
    border-width: 2px;
}

.footer {
    background-color: rgb(14, 14, 14);
    padding:10px 0;
    color: #DBD88E;
}

.page-header {
    color: #DBD88E;
    font-weight: 300;
}

.btn:disabled,
.btn:hover,
.btn:focus 
{
    background-color: rgb(27, 27, 27);
    border-color: #DBD88E;
}

.btn:active {
    background-color: rgb(14, 14, 14);
    border: none;
}

hr {
    border-top: 2px solid;
}

// NAVBAR

.navbar {
    background-color: rgb(14, 14, 14);

    .logo {
        color: #DBD88E;
        font-size: 20px;
        font-weight: bold;
    }

    .nav-link {
        color: #DBD88E;
        font-weight: 400;
    }

    .navbar-nav .nav-link.active {
        color: #ffffff;
    }

    .navbar-nav .nav-link:hover {
        color: white;
    }

    .navbar-toggler {
        border: 1px solid #DBD88E;
        padding: 1px 2px;
        background-color:#1b1b18;
    }
}

//MOVIECARD 

.movie-card {

    background-color: rgb(14, 14, 14);
    border-color: #DBD88E;
    min-height: 619px;

    @media (min-width: 768px) {
        min-height:544px;
    }

    @media (min-width: 992px) {
        min-height:534px;
    }

    .movie-card-img {
        min-height: 370px;
    }

    .movie-card-body {
        color:#DBD88E;
        position: relative;
        
        .score-circle {
            position: absolute;
            top: -20px;
            right: 10px;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            border: solid 1px #DBD88E;
            background-color: rgb(14, 14, 14);

            .score {
                margin-bottom: 0;
            }
        }

        .movie-card-title {
            font-weight: bold;
            margin-bottom: 0;
        }

        .movie-card-text {
            color: white;
        }
    }
}

//PAGINATION 
    
.prev-btn {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background-color: rgb(14, 14, 14);
    color: #DBD88E;
    border: none;
}

.next-btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: rgb(14, 14, 14);
    color: #DBD88E;
    border: none;
}

.current-page {
    background-color: rgb(14, 14, 14);
    color: #DBD88E
}

//CAROUSEL

.carousel-indicators {
    display: none;
}

.carousel-control-prev,
.carousel-control-next
{
    opacity: 1;

    .carousel-control-prev-icon {
        position: absolute;
        left: -15px;
        background-color: black;
        border-radius: 50%;
        border: 2px solid #DBD88E;
    }
    .carousel-control-next-icon {
        position: absolute;
        right: 0;
        background-color: black;
        border-radius: 50%;
        border: 2px solid #DBD88E;
    }
}

//MOVIEDETAILS

.single-movie-img {
    border: 2px solid #DBD88E;
    border-radius: 7px;
}

.movie-info {

    @media (min-width: 992px) {
        padding: 10px 20px;
    }

    h2 {
        padding: 10px 0;
        color: #DBD88E;
        text-align: center;

        @media (min-width: 768px) {
            text-align: start;
        }
    }

    .movie-genres {
        margin-right: 12px;
    }
}


.cast-card
{
    min-height: 419px;
    background-color: rgb(14, 14, 14);
    border-color: #DBD88E;
    overflow: hidden;

    .cast-image {
        min-height: 233px;
        max-height: 322px;
        border-radius: 2px;
        
    }

    .cast-title {
        font-size: 14px;
        color:#DBD88E;

        .cast-title:hover {
            color:#DBD88E;
            text-decoration: underline;
        }
    }

    .cast-text {
        font-size: 14px;
    }
}

// ACTORDETAILS

.actor {

    h4 {

        @media (max-width: 768px) {
            text-align: center;
        }
    }

    h5 {
        margin: 0;
    }

    .actor-img {
        border: 2px solid #DBD88E;
        border-radius: 7px;
    }

    .actor-info {
        
        padding: 0px 20px;

        @media (max-width: 1100px) {
            padding: 0px;
        }

    }
}

.movie-cards {

    min-height: 406px;
    background-color: rgb(14, 14, 14);
    border-color: #DBD88E;
    overflow: hidden;
 
    @media (min-width: 992px) {
        min-height:389px;
    }

    .movie-images {
        min-height: 233px;
        max-height: 322px;
    }

    .movie-titles {
    font-size: 14px;
    color:#DBD88E;
    font-weight: 300;
    
        .movie-titles:hover {
            color:#DBD88E;
            text-decoration: underline;
        }
    }
}

// GENRE PAGE

.btn-primary {
    background-color: rgb(14, 14, 14);
    border-color: rgb(14, 14, 14);
    color: white;
}

.btn-primary:disabled,
.btn-primary:hover,
.btn-primary:focus 
{
    background-color: rgb(27, 27, 27);
    border-color: #DBD88E;
    outline: none;
    box-shadow: none;
}

.btn-primary:active {
    background-color: rgb(14, 14, 14);
    
}

.dropdown-menu {
    background-color: rgb(14, 14, 14);
    

    .dropdown-item {
        color:#DBD88E;   
    }

    .dropdown-item:hover, .dropdown-item:focus {
        background-color: rgb(27, 27, 27);
        color: white;
    }
}

