@import 'bootstrap/scss/bootstrap';

#App {
    background-color: rgb(32, 36, 41);
    min-height: 100vh;
    color: white;
    overflow-x: hidden;
}

.container {
    max-width: 1100px;

    @media (max-width: 1100px) {
        width: 95%;
        margin: auto;
    }
}

a {
    text-decoration: none;  
}

.navbar {
    background-color: rgb(14, 14, 14);

    .logo {
        color: #DBD88E;
        font-size: 20px;
        font-weight: bold;
    }

    .nav-link {
        color: #DBD88E;
        font-weight: 400;
    }

    .navbar-nav .nav-link.active {
        color: #ffffff;
    }

    .navbar-nav .nav-link:hover {
        color: white;
    }
}


.card {
    border-width: 2px;
}

.footer {
    background-color: rgb(14, 14, 14);
    padding:10px 0;
    color: #DBD88E;
}

.movie-card {
    background-color: rgb(14, 14, 14);
    border-color: #DBD88E;
    min-height: 511px;
}

.score-circle {
    position: absolute;
    top: -20px;
    right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: solid 1px #DBD88E;
    background-color: rgb(14, 14, 14);
}

.score {
    margin-bottom: 0;
}

.card-body {
    color:#DBD88E;
    position: relative;
}

.card-title {
    font-weight: bold;
    margin-bottom: 0;
}

.card-text {
    color: white;
}

.page-header {
    color: #DBD88E;
    font-weight: 300;
}

.movie-card-img {
    min-height: 370px;
}

.prev-btn {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background-color: rgb(14, 14, 14);
    color: #DBD88E;
    border: none;
}

.next-btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: rgb(14, 14, 14);
    color: #DBD88E;
    border: none;
}

.current-page {
    background-color: rgb(14, 14, 14);
    color: #DBD88E
}

.btn:disabled,
.btn:hover,
.btn:focus 
{
    background-color: rgb(27, 27, 27);
    border-color: #DBD88E;
}

.btn:active {
    background-color: rgb(14, 14, 14);
    border: none;
}

.cast-card,
.movie-cards
{
    min-height: 365px;
    background-color: rgb(14, 14, 14);
    border-color: #DBD88E;
    overflow: hidden;
}

.cast-image,
.movie-images
{
    min-height: 233px;
}

.cast-title,
.movie-titles
{
    font-size: 16px;
    color:#DBD88E;
}

.cast-title:hover,
.movie-titles:hover
{
    color:#DBD88E;
    text-decoration: underline;
}

.cast-text {
    font-size: 14px;
}


// SINGLE MOVIE

.movie-info {
    padding: 10px 20px;

    h2 {
        padding: 10px 0;
    }

    h2, h5 {
        color: #DBD88E;
    }

    .movie-genres {
        margin-right: 12px;
    }
}


.single-movie-img {
    border: 2px solid #DBD88E;
    border-radius: 7px;
}


.single-movie-cast h3 {
    color: #DBD88E;
}

hr {
    border-top: 2px solid;
}

// ACTOR 

.actor {

    h4 {
        color: #DBD88E;

        @media (max-width: 768px) {
            text-align: center;
        }

    }

    h5 {
        color: #DBD88E;
        margin: 0;
    }

    .actor-img {
        border: 2px solid #DBD88E;
        border-radius: 7px;
    }

    .actor-info {
        
        padding: 0px 20px;

        @media (max-width: 1100px) {
            padding: 0px;
        }

    }
}


